
.ms{
  text-align: center;
  margin-top: 200px;
  background-color: #fff;
  border-radius: 5%;


}
.row{
width:20%;
}
.msr{
  background-color: blue;
  color:#fff;
  border-radius: 5%;
}
